<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://img.icons8.com/color/48/000000/programming--v1.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Inicio</title>
</head>
<body>
    <h1>Backend personal 🕵️‍♂️</h1>
    
    <p>En este sitio está configurado mi propio backend personalizado de acuerdo a mis necesidades.</p>
    
    <p> La idea principal es crear un backend con una única página frontend. Este frontend no contendrá estilos ni lógica avanzada, ya que el objetivo del sitio es centrarse en los endpoints del backend.</p>

    <p>Haz click <a href="https://github.com/Ale6100/backend-personal.git#endpoints-%EF%B8%8F" target="_blank" rel="noopener noreferrer">aquí</a> si deseas conocer los endpoints disponibles.</p>

    <script src="./js/script.js"></script>
</body>
</html>
